.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-input {
    width: 300px;
    margin-right: 15px;
    position: relative; 
}

input::placeholder {
    color: #9e9e9e; 
}

// button {
//     position: absolute;
//     right: 8px;
//     top: 50%;
//     transform: translateY(-50%);
//     background-color: transparent; 
//     border: none; 
//     cursor: pointer; 
// }

button:hover {
    background-color: rgba(0, 0, 0, 0.04); 
    color: #000;
}

mat-icon {
    color: #757575; 
}


.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;

    span{
        font-size: 18px;
        color: #616161;
        margin-top: 10px;
    }
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 20px;
    
}

.product-card {
    width: 300px;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 80px;
}

.product-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-details {
    padding: 20px;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
    color: #108ee9;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.info-label {
    font-weight: bold;
    margin-right: 5px;
}

.info-value {
    font-weight: normal;
}

.actions{
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .update-button{
        margin-right: 10px;
    }
}

